* {
    background-color: black;
}
h1 {
    color: blueviolet;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: center;
} 
li {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.food {
    background-color: #598397;
    border: 1mm cornflowerblue;
    font-size: 35px;
    
}
.pic {
    height: auto;
    width: 300px;
}
