*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    background-color: black;
    margin: 10px;
    padding: 0px;
}
h1 {
    color: blueviolet;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: center;
} 
li {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.food {
    background-color: #598397;
    border: 5px inset rgb(235, 235, 235);
    font-size: 35px;
    padding: 3px;
    
}
.pic {
    height: auto;
    width: 300px;
    border: 3px outset white;
    margin: 20px 20px;
}
